{
  "baseUrl": "https://manufacturing.erpnext.com/",
  "adminUser": "administrator",
  "adminPassword": "xxxxx",
  "regularUser": "demo@erpnext.com",
  "regularPassword": "Demo1234567!!!",
  "apiKey": "121ab34858",
  "apiSecret": "3232424ace234",
  "singleTodoName": "266e2a5dfc"
}
